.isLeft {
  .image {
    order: 1;
  }

  box-shadow: 1px 1px 3px #141414 !important;
}

.box {
  position: relative;
  width: 100%;
}

.item {
  position: relative;
  overflow: hidden;

  background-color: var(--bg-color);
  box-shadow: -1px 1px 3px #141414;

  width: 100%;
  height: var(--projects-item-heigth);

  display: flex;
  padding: var(--projects-pad-top) var(--projects-pad-left);
  gap: var(--projects-content-gap);
  border-radius: calc(var(--border-radius));

  .image {
    z-index: 2;

    max-width: var(--projects-img-width);
    height: var(--projects-img-heigth);
    overflow: hidden;

    order: 2;

    box-shadow: 0 0 5px #141414;

    display: flex;
    flex-direction: column;

    img {
      object-fit: cover;
      width: 100%!important;
      height: fit-content;

      transition: 5s ease-in-out;
    }

    &:hover {
      img {
        transform: translateY(-100%);
      }
    }

    border-radius: calc(var(--border-radius) + 1px);
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;

    align-items: center;

    .image {
      order: 1;
    }
  }
}
