.item {
  width: 100%;
  height: 350px;

  display: flex;
  gap: 20px;

  .image {
    flex-grow: 1.7;
    flex-basis: 0;
    background-color: aqua;
    overflow: hidden;
    object-fit: cover;

    border-radius: var(--border-radius);
  }

  .description {
    text-align: center;
    //padding: 0 10px;

    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .tech {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }

    .links {
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      .link {
        display: flex;
        align-items: center;
        gap: var(--gap);

        svg {
          width: 32px;
          height: 32px;
          fill: #fff;

          transition: var(--transition);
        }

        &:hover {
          background-color: transparent;
          color: var(--element-color);

          svg {
            fill: var(--element-color);
          }
        }
      }
    }
  }
}

.important {
  color: var(--element-color);
}
