@import "../inputStyles.scss";

.input {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  width: 100%;

  input,
  textarea {
    resize: none;
    @extend .inputArea;

    color: rgba(251, 251, 251, 0.9);
    &:focus {
      //border: 1px solid var(--element-color);
      color: #fff;
    }
  }

  .invalid {
    border: 1px solid var(--error-element-color);
  }

  .valid {
    &:focus {
      border: 1px solid var(--element-color);
    }
  }
}
