.container {
  z-index: 2;

  background-color: var(--bg-color);
  height: var(--contacts-form-height);
  min-height: var(--contacts-form-min-height);
  max-height: var(--contacts-form-max-height);
  width: var(--contacts-form-width);

  box-shadow: 1px 1px 5px #141414;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
}

