.container {
  position: fixed;
  z-index: 4000;

  height: var(--header-heigth);
  width: 100%;

  padding: 0 var(--pad-page-left);

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: var(--transition);

  .dino {
    transform: rotate(var(--banner-dino-rotate));
    height: 70%;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }
}

.active {
  background: var(--header-bg);
}
