.nav {
  ul {
    list-style-type: none;
    display: flex;
    gap: var(--gap);
    padding: 0;

    a {
      font-weight: bold;
      padding: var(--pad-item-top) var(--pad-item-left);
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.mobile {
  display: flex;
  
  justify-content: center;
  align-items: center;
  width: 100%;

  
  ul {
    font-size: 20px;
    gap: calc(var(--gap) * 4);

    align-items: center;
    flex-direction: column;
  }
}
