.bg {
  position: absolute;
  font-family: var(--banner-font-family);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  height: 100%;

  z-index: 0;

  transform: rotate(var(--banner-text-rotate));
  word-break: break-word;

  color: var(--bg-color);
  -webkit-text-stroke: var(--banner-font-bd);
  text-stroke: var(--banner-font-bd);

  line-height: var(--banner-line-height);
  letter-spacing: var(--banner-letter-spacing);
  font-size: var(--banner-font-size);

  @media screen and (max-width: 1024px) {
    width: 225%;
  }
}
