@import "../inputStyles.scss";

.submit {
  border: 2px solid var(--focus-color);

  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .inputArea;

  &:hover,
  &:focus {
    background-color: var(--element-color);
  }
}

.loading {
  background-color: rgba(115, 230, 102, 0.1);

  &:hover {
    background-color: rgba(115, 230, 102, 0.2);
  }
}

.success {
  background-color: rgba(115, 230, 102, 0.9);

  &:hover {
    background-color: rgba(115, 230, 102, 1);
  }
}

.error {
  background-color: rgba(230, 102, 102, 0.9);

  &:hover {
    background-color: rgba(230, 102, 102, 1);
  }
}
