.container {
  height: fit-content;
  //width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main {
    text-shadow: 0 50px 250px var(--box-shadow-color);
    line-height: 130px;
    text-align: center;

    p {
      font-size: 150px;
      font-family: "SuperMario";
    }
    .nikita {
      color: var(--element-color);
    }
  }
}
