:root {
  //телефоны
  @media screen and (max-width: 480px) {
    //COMMON
    --font-size-head: 18px;
    --font-size: 14px;

    //MAIN
    --main-font-size: 45px;
    --main-line-height: 40px;

    //ABOUT
    --about-box-width: 95%;
    --about-box-heigth: 90%;
    --about-blob-size: 190px;
    --about-box-gap: 40px;

    //SKILLS
    --skills-box-width: 95%;
    --skills-box-heigth: 90%;
    --skills-img-size: 190px;

    //PROJECTS
    --projects-items-width: 95%;
    --projects-item-heigth: 550px;
    --projects-img-width: 100%;
    --projects-img-heigth: 220px;
    --projects-description-pad-left: 10px;
    --projects-items-gap: 48px;
    --projects-content-gap: 16px;

    //CONTACTS
    --contacts-form-height: 65%;
    --contacts-form-min-height: 500px;
    --contacts-form-width: 300px;

    //PARTICLES
    --corner-particles-img-heigth: 100px;
    --corner-particles-rigth: -25px;
    --corner-particles-top: -15px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 60px;
    --banner-line-height: 48px;

    --banner-dino-heigth: 45%;
  }
}
