:root {
  //COMMON
  --focus-color: #171f3e;
  --bg-color: #1c264c;
  --header-bg: rgba(28, 38, 76, 0.4);

  --error-element-color: #e56666;
  --element-color: #72e566;
  --element-focus: #171f3e;

  --box-shadow-color: #41823c;
  --box-shadow: 0 calc(var(--main-font-size) / 10) 175px var(--box-shadow-color);

  --font-color: #ffffff;
  --font-family: "Montserrat-Regular";

  //CONTACTS
  --contacts-form-button-bg: #1c264c;

  //PROJECTS

  //PARTICLES

  //BANNER
  --banner-bg-c: rgb(2, 24, 38);
  --banner-font-c: rgb(2, 24, 38);
  --banner-font-bd: 1px rgb(54, 76, 90);

  //COMMON
  --font-size: 18px;
  --font-size-head: 45px;

  --pad-item-top: 10px;
  --pad-item-left: 14px;
  --pad-page-top: calc(var(--header-heigth) + 2vw);
  --pad-page-left: 8vw;

  --border-radius: 8px;

  --gap: 8px;
  --transition: 0.3s;

  //HEADER
  --header-heigth: 65px;

  //MAIN
  --main-font-size: 150px;
  --main-line-height: 130px;

  //ABOUT
  --about-box-width: 750px;
  --about-box-heigth: 225px;
  --about-blob-size: 225px;
  --about-box-gap: 80px;

  //SKILLS
  --skills-box-width: 850px;
  --skills-box-heigth: 250px;
  --skills-img-size: 250px;
  --tech-margin-lef: 100px;

  //PROJECTS
  --projects-items-width: 990px;
  --projects-items-gap: 64px;
  --projects-content-gap: 48px;
  --projects-item-heigth: 400px;
  --projects-pad-top: 20px;
  --projects-pad-left: 20px;
  --projects-img-width: 530px;
  --projects-description-pad-left: 0px;

  //CONTACTS
  --contacts-form-width: 500px;
  --contacts-form-height: 80%;
  --contacts-form-radius: 20px;
  --contacts-form-min-height: 550px;
  --contacts-form-max-height: 600px;

  //PARTICLES
  --corner-particles-img-heigth: 250px;
  --corner-particles-rigth: -65px;
  --corner-particles-top: -45px;

  //BANNER
  --banner-heigth: 300px;

  --banner-font-size: 90px;
  --banner-line-height: 69px;
  --banner-letter-spacing: 2px;

  --banner-text-rotate: -45deg;
  --banner-dino-rotate: -13deg;

  --banner-dino-heigth: 60%;

  --banner-font-family: "BebasNeue";
}
