:root {
  //COMMON
  --focus-color: rgb(23, 31, 62);
  --bg-color: #1c264c;
  --header-bg: #72e566;

  --element-color: #72e566;
  --element-focus: #5ab550;

  --box-shadow-color: #41823c;

  --font-color: #ffffff;
  --font-family: "Montserrat-Regular";

  //BANNER
  --banner-bg-c: rgb(2, 24, 38);
  --banner-font-c: rgb(2, 24, 38);
  --banner-font-bd: 1px rgb(54, 76, 90);

  //COMMON
  --font-size: 1rem;

  --pad-item-top: 10px;
  --pad-item-left: 14px;
  --pad-page-top: 2vh;
  --pad-page-left: 8vw;

  --border-radius: 8px;

  --gap: 8px;
  --transition: 0.3s;

  //HEADER
  --header-heigth: 65px;

  //MAIN
  --main-font-size: 150px;
  --main-line-height: 130px;

  //BANNER
  --banner-heigth: 300px;

  --banner-font-size: 90px;
  --banner-line-height: 69px;
  --banner-letter-spacing: 2px;

  --banner-text-rotate: -45deg;
  --banner-dino-rotate: -13deg;

  --banner-dino-heigth: 60%;

  --banner-font-family: "BebasNeue";

  //нетбуки
  @media screen and (max-width: 1280px) {
    //MAIN
    --main-font-size: 120px;
    --main-line-height: 100px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 85px;
    --banner-line-height: 65px;

    --banner-dino-heigth: 55%;
  }

  //планшеты
  @media screen and (max-width: 1024px) {
    //MAIN
    --main-font-size: 90px;
    --main-line-height: 75px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 80px;
    --banner-line-height: 62px;

    --banner-dino-heigth: 50%;
  }

  //огромные телефоны
  @media screen and (max-width: 768px) {
    //MAIN
    --main-font-size: 60px;
    --main-line-height: 50px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 70px;
    --banner-line-height: 55px;

    --banner-dino-heigth: 55%;
  }

  //телефоны
  @media screen and (max-width: 480px) {
    //MAIN
    --main-font-size: 45px;
    --main-line-height: 40px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 60px;
    --banner-line-height: 48px;

    --banner-dino-heigth: 45%;
  }

  //милипиздрики
  @media screen and (max-width: 320px) {
    //MAIN
    --main-font-size: 35px;
    --main-line-height: 30px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 50px;
    --banner-line-height: 41px;

    --banner-dino-heigth: 45%;
  }
}
