:root {
  //COMMON
  --focus-color: #171f3e;
  --bg-color: #1c264c;
  --header-bg: #72e566;

  --error-element-color: #e56666;
  --element-color: #72e566;
  --element-focus: #171f3e;

  --box-shadow-color: #41823c;
  --box-shadow: 0 calc(var(--main-font-size) / 10) 175px var(--box-shadow-color);

  --font-color: #ffffff;
  --font-family: "Montserrat-Regular";

  //CONTACTS
  --contacts-form-button-bg: #1c264c;

  //PROJECTS

  //PARTICLES

  //BANNER
  --banner-bg-c: rgb(2, 24, 38);
  --banner-font-c: rgb(2, 24, 38);
  --banner-font-bd: 1px rgb(54, 76, 90);

  //COMMON
  --font-size: 18px;
  --font-size-head: 45px;

  --pad-item-top: 10px;
  --pad-item-left: 14px;
  --pad-page-top: calc(var(--header-heigth) + 2vw);
  --pad-page-left: 8vw;

  --border-radius: 8px;

  --gap: 8px;
  --transition: 0.3s;

  //HEADER
  --header-heigth: 65px;

  //MAIN
  --main-font-size: 150px;
  --main-line-height: 130px;

  //ABOUT
  --about-box-width: 750px;
  --about-box-heigth: 225px;
  --about-blob-size: 225px;
  --about-box-gap: 80px;

  //SKILLS
  --skills-box-width: 850px;
  --skills-box-heigth: 250px;
  --skills-img-size: 250px;
  --tech-margin-lef: 100px;

  //PROJECTS
  --projects-items-width: 990px;
  --projects-items-gap: 64px;
  --projects-content-gap: 48px;
  --projects-item-heigth: 400px;
  --projects-pad-top: 20px;
  --projects-pad-left: 20px;
  --projects-img-width: 530px;
  --projects-description-pad-left: 0px;

  //CONTACTS
  --contacts-form-width: 500px;
  --contacts-form-height: 80%;
  --contacts-form-radius: 20px;
  --contacts-form-min-height: 550px;
  --contacts-form-max-height: 600px;

  //PARTICLES
  --corner-particles-img-heigth: 250px;
  --corner-particles-rigth: -65px;
  --corner-particles-top: -45px;

  //BANNER
  --banner-heigth: 300px;

  --banner-font-size: 90px;
  --banner-line-height: 69px;
  --banner-letter-spacing: 2px;

  --banner-text-rotate: -45deg;
  --banner-dino-rotate: -13deg;

  --banner-dino-heigth: 60%;

  --banner-font-family: "BebasNeue";

  //нетбуки
  @media screen and (max-width: 1280px) {
    //COMMON
    --font-size-head: 36px;
    --font-size: 17px;

    //MAIN
    --main-font-size: 120px;
    --main-line-height: 100px;

    //ABOUT
    --about-box-width: 650px;
    --about-box-heigth: 190px;
    --about-blob-size: 190px;
    --about-box-gap: 70px;

    //SKILLS
    --skills-box-width: 800px;
    --skills-box-heigth: 225px;
    --skills-img-size: 225px;
    --skills-box-gap: 10px;

    //PROJECTS
    --projects-items-width: 900px;
    --projects-img-width: 460px;

    //CONTACTS
    --contacts-form-height: 75%;
    --contacts-form-min-height: 550px;

    //PARTICLES
    --corner-particles-img-heigth: 200px;
    --corner-particles-rigth: -50px;
    --corner-particles-top: -35px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 85px;
    --banner-line-height: 65px;

    --banner-dino-heigth: 55%;
  }

  //планшеты
  @media screen and (max-width: 1024px) {
    //COMMON
    --font-size-head: 30px;
    --font-size: 16px;

    //MAIN
    --main-font-size: 90px;
    --main-line-height: 75px;

    //ABOUT
    --about-box-width: 95%;
    --about-box-heigth: 90%;
    --about-blob-size: 215px;
    --about-box-gap: 60px;

    //SKILLS
    --skills-box-width: 95%;
    --skills-box-heigth: 90%;
    --skills-img-size: 215px;

    //PROJECTS
    --projects-items-width: 570px;
    --projects-item-heigth: 750px;
    --projects-img-width: 660px;
    --projects-img-heigth: 350px;
    --projects-description-pad-left: 100px;
    --projects-items-gap: 48px;
    --projects-content-gap: 16px;

    //CONTACTS
    --contacts-form-height: 75%;
    --contacts-form-min-height: 550px;

    //PARTICLES
    --corner-particles-img-heigth: 175px;
    --corner-particles-rigth: -40px;
    --corner-particles-top: -30px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 80px;
    --banner-line-height: 62px;

    --banner-dino-heigth: 50%;
  }

  //огромные телефоны
  @media screen and (max-width: 768px) {
    //COMMON
    --font-size-head: 25px;
    --font-size: 15px;

    //MAIN
    --main-font-size: 60px;
    --main-line-height: 50px;

    //ABOUT
    --about-box-width: 95%;
    --about-box-heigth: 90%;
    --about-blob-size: 200px;
    --about-box-gap: 50px;

    //SKILLS
    --skills-box-width: 95%;
    --skills-box-heigth: 90%;
    --skills-img-size: 200px;

    //PROJECTS
    --projects-items-width: 430px;
    --projects-item-heigth: 600px;
    --projects-img-width: 390px;
    --projects-img-heigth: 250px;
    --projects-description-pad-left: 40px;
    --projects-items-gap: 48px;
    --projects-content-gap: 16px;

    //CONTACTS
    --contacts-form-height: 70%;
    --contacts-form-min-height: 550px;
    --contacts-form-width: 400px;

    //PARTICLES
    --corner-particles-img-heigth: 150px;
    --corner-particles-rigth: -35px;
    --corner-particles-top: -25px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 70px;
    --banner-line-height: 55px;

    --banner-dino-heigth: 55%;
  }

  //телефоны
  @media screen and (max-width: 480px) {
    //COMMON
    --font-size-head: 18px;
    --font-size: 14px;

    //MAIN
    --main-font-size: 45px;
    --main-line-height: 40px;

    //ABOUT
    --about-box-width: 95%;
    --about-box-heigth: 90%;
    --about-blob-size: 190px;
    --about-box-gap: 40px;

    //SKILLS
    --skills-box-width: 95%;
    --skills-box-heigth: 90%;
    --skills-img-size: 190px;

    //PROJECTS
    --projects-items-width: 95%;
    --projects-item-heigth: 550px;
    --projects-img-width: 100%;
    --projects-img-heigth: 220px;
    --projects-description-pad-left: 10px;
    --projects-items-gap: 48px;
    --projects-content-gap: 16px;

    //CONTACTS
    --contacts-form-height: 65%;
    --contacts-form-min-height: 500px;
    --contacts-form-width: 300px;

    //PARTICLES
    --corner-particles-img-heigth: 100px;
    --corner-particles-rigth: -25px;
    --corner-particles-top: -15px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 60px;
    --banner-line-height: 48px;

    --banner-dino-heigth: 45%;
  }

  //милипиздрики
  @media screen and (max-width: 320px) {
    //COMMON
    --font-size-head: 15px;
    --font-size: 13px;

    //MAIN
    --main-font-size: 35px;
    --main-line-height: 30px;

    //ABOUT
    --about-box-width: 95%;
    --about-box-heigth: 90%;
    --about-blob-size: 180px;
    --about-box-gap: 30px;

    //SKILLS
    --skills-box-width: 95%;
    --skills-box-heigth: 90%;
    --skills-img-size: 180px;

    //CONTACTS
    --contacts-form-height: 60%;
    --contacts-form-width: 275px;
    --contacts-form-min-height: 500px;

    //PARTICLES
    --corner-particles-img-heigth: 75px;
    --corner-particles-rigth: -15px;
    --corner-particles-top: -15px;

    //BANNER
    --banner-heigth: 300px;

    --banner-font-size: 50px;
    --banner-line-height: 41px;

    --banner-dino-heigth: 45%;
  }
}
