.container {
  width: 100%;
  height: 100vh;
  min-height: calc(var(--contacts-form-max-height) + 20px);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
